body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

body {
    font-family: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "CiscoSansTT Bold";
  src: url("../fonts/CiscoSansTTBold.eot");
  src: url("../fonts/CiscoSansTTBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Bold Oblique";
  src: url("../fonts/CiscoSansTTBoldOblique.eot");
  src: url("../fonts/CiscoSansTTBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTBoldOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Extra Light";
  src: url("../fonts/CiscoSansTTExtraLight.eot");
  src: url("../fonts/CiscoSansTTExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Extra Light Oblique";
  src: url("../fonts/CiscoSansTTExtraLightOblique.eot");
  src: url("../fonts/CiscoSansTTExtraLightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTExtraLightOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Heavy";
  src: url("../fonts/CiscoSansTTHeavy.eot");
  src: url("../fonts/CiscoSansTTHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTHeavy.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Heavy Oblique";
  src: url("../fonts/CiscoSansTTHeavyOblique.eot");
  src: url("../fonts/CiscoSansTTHeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTHeavyOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Light";
  src: url("../fonts/CiscoSansTTLight.eot");
  src: url("../fonts/CiscoSansTTLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Light Oblique";
  src: url("../fonts/CiscoSansTTLightOblique.eot");
  src: url("../fonts/CiscoSansTTLightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTLightOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Regular";
  src: url("../fonts/CiscoSansTTRegular.eot");
  src: url("../fonts/CiscoSansTTRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Regular Oblique";
  src: url("../fonts/CiscoSansTTRegularOblique.eot");
  src: url("../fonts/CiscoSansTTRegularOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTRegularOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Thin";
  src: url("../fonts/CiscoSansTTThin.eot");
  src: url("../fonts/CiscoSansTTThin.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTThin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CiscoSansTT Thin Oblique";
  src: url("../fonts/CiscoSansTTThinOblique.eot");
  src: url("../fonts/CiscoSansTTThinOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/CiscoSansTTThinOblique.woff") format("woff");
  font-weight: normal;
  font-style: normal; }


/*navbar*/

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    left: 0;
}

.app-icon {
    margin: 0 22px 0 6px;
    color: #049FD9;
}

.navbar {
	height: 55px;
	background-color: #FFF;
}

.navbar-brand {
    font-size: 20px;
}

/* For goal Attainment */

.grayColor {
	color: #AEAEAF;
}

.selectHeight {
	height: 32px;
}

/* For payments summary */

h4, .h4, .top-bar--user .top-bar .app-name, .cs-form__section .section__info .section__title {
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
    border-style: solid;
    border-width: 1px;
    border-color: #D7D7D8;
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

label, .label {
    color: #6A6B6C;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.71429;
}

.col-xs-1#headerLabel {
    padding-left: 5px;
    padding-right: 0px;
}

.gridHeader{
	font-family: "CiscoSansTT Light";
	font-size: 14px;
	line-height: 19px;
	color: #6A6B6C;
}


.container#mainDiv{
	margin-top: 70px;
	border: 1px solid #D7D7D8;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}
.bannerView{
	margin-top: 30px;
	border: 1px solid #D7D7D8;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}
.goalView{
	margin-top: 120px;
	border: 1px solid #D7D7D8;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}
.empView{
	margin-top: 10px;
	border: 1px solid #D7D7D8;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}
.withBanner{
	margin-top: 15px; 
	font-size: 12px;
}
.withoutBanner{
	margin-top: 120px; 
	font-size: 12px;
}
.row#pageTop{
	padding-left: 30px;
}

.row{
	padding-top: 10px;
	max-width: 100%;
	margin-right: 0px;
    margin-left: 0px;
}

th, .th {
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.71429;
    line-height: 1.7143;
}

td, .td {
    font-family: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14PX;
    line-height: 16px;
    color: #6A6B6C;
}

a {
    color: #049FD9 !important;
    line-height: inherit;
    text-decoration: none;
}

.col-xs-11#pageHeader{
	padding-left: 0px;
}

.ellipsis{
	text-align: right;
}

.more{
	color: #9B9B9B;
}

.chevronHolder{
	color: #049fd9;
	font-size: 30px;
}
.paymentTitleHolder{
	margin-top:10px;
	display: inline-block;
	position: relative;
	bottom: 4px;
	left : 3px;
	height: 24px;
	font-family: "CiscoSansTT Light";
	font-size: 16px;
	line-height: 24px;
	color: #343537;
}
.tableHeader{
	background-color: #f8f8f8;
}
.paymentddHolder{
	width: 150px;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #D7D7D8;
	border-radius: 2px;
	font-family: "CiscoSansTT Light";
	font-size: 12px;
	line-height: 12px;
	color: #6A6B6C;
}
.currencyddHolder{
	width: 75px;
	height: 30px;
	background-color: #FFFFFF;
    border: 1px solid #D7D7D8;
    border-radius: 2px;
    font-family: "CiscoSansTT Light";
    font-size: 12px;
    line-height: 12px;
    color: #6A6B6C;
}

.currencyLabel
{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	line-height: 16px;
	color: #6A6B6C;
}

.intervalLabel
{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	line-height: 16px;
	color: #6A6B6C;
}


select:focus {
    background-color: #FFFFFF;
}

.ddHolder{
	padding-left: 40px;
	padding-bottom: 8px;
}

.nv-x .tick line {
	display: none;
}

.goalSheet{
	width: 170px;
	padding-right: 0px;
	padding-left: 0px;
	font-family: "CiscoSansTT Light";
	font-size: 16px;
	line-height: 19px;
	color: #6A6B6C;
}

.goalDate
{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	line-height: 16px;
	padding-right: 0px;
	color: #AEAEAF;
}

table#paymentTotal{
	margin-bottom: 0px;
}

.paymentSummaryTableHeader {
	background-color: #f5f5f6;
}

.tableTop{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #6A6B6C;
}

.table>tbody>tr{
	height: 49px;
}

.table>tbody>tr>td{
	vertical-align: middle;
}

 .table>tbody>tr>th{
	vertical-align: middle;
}

.tableText{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	line-height: 16px;
	color: #6A6B6C;
}

.gridFooter{
	font-family: "CiscoSansTT Regular";
	font-size: 15px;
	line-height: 16px;
	color: #4F5051;
}

.paymentSummaryTableHeader#totalPayment {
	border-top: 2px solid #AEAEAF;
}

.table>tbody+tbody{
	border-top: 50px solid #FFF;
}

#headerTop{
	border-top: 1px solid #FFF;
	padding-top: 15px;
}

.planTotalRow{
	border-top: 2px solid #EBEBEC;
}

.nvtooltip.xy-tooltip {
    max-width: 100%;
    background-color: #F5F5F6;
    padding: 7px;
    border: 1px solid #D7D7D8;
}

/* .nvtooltip:after {
                content: "";
                border: solid #BDBDBD;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 7px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                background-color:#F5F5F6;
                position: absolute;
                left: 110px;
 }  */

.nvtooltip {
                margin-top:-20px;
}

svg.nvd3-svg{
	width: 90%;
}

.nvd3 .nv-axis path {
    stroke: #FFF;
}

.nvd3 text {
    font-family: CiscoSansTT Regular;
    fill: #AEAEAF;
    font-size: 11px;
}

#g2c .nv-x .nvd3 text {
    font-family: CiscoSansTT Regular;
    fill: #aeaeaf;
    font-size: xx-small !important;
}
.g2ctitle{
	font-size: 12px;
	text-align: left;
	color: #6a6b6c;
	margin-top: -10px;
	margin-bottom: 30px;
	font-family: CiscoSansTT Regular;
	font-weight: bold;
}
.paymentTotalSpan{
	font-size: 18px;
}

.redText{
	color: red;
}

table tbody .tableBody{
	padding-top: 30px;
}

.popover {
	max-width: 400px;
}
.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}.tooltip.in{filter:alpha(opacity=90);opacity:.9}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}

/*Payment calc styling*/
.flex {
display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
}

.no-flex {
	-webkit-box-flex: 0;
    	    -ms-flex: none;
    	        flex: none;
    	        display: block;
}

.flex-child {
	-webkit-box-flex: 1;
    	    -ms-flex: 1 100%;
    	        flex: 1 100%;
    	        display: block;
}

.calcHeader {
	padding: 20px;
}

.borderNone {
	border: none !important;
}

.trBorder {
	border: 1px solid #eee;
	border-right: none;
	border-left: none;
	}

.calcTitleHolder {
	display: inline-block;
	position: relative;
	bottom: 4px;
	left: 3px;
	font-family: CiscoSansTT Light;
	font-size: 16px;
	line-height: 24px;
	color: #343537;
}

.calcContainer {
	margin-top: 70px;
	border: 1px solid #EBEBEC;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}

.bonusHeader {
	margin-top: 45px;
	padding-left: 15px;
	font-family: CiscoSansTT Regular;
	padding-bottom: 15px;
	font-size: 12px;
	line-height: 16px;
	color: #6A6B6C;
	height: 1.5%;
}

.totalHeader{
	font-size: 12px;
    color: #6a6b6c;
    font-family: CiscoSansTT Regular !important;
}

.totalBody{
	font-size: 12px;
    color: #6a6b6c;
    font-family: CiscoSansTT Regular !important;
}

.detailheader {
	font-family: CiscoSansTT Regular;
    font-size: 12px;
    line-height: 16px;
    color: #005073;
}

.detailBody {
	font-family: CiscoSansTT Regular;
	font-size: 12px;
	line-height: 16px;
	color: #6A6B6C;
	word-break: break-word;

}

.totalRow{
	font-size: 12px;
}

.posValue {
	color: #6A6B6C;
}

.negValue {
	color: #E3423A;
}
.totBorder{
	border-top: 2px solid #eee;
	}
.nv{
	height:93px;
	background-color:#ffffff;
	align-items: center;
	top: 0px;
    margin:0px;
    padding: 0px 2px 2px 3px;
    border-width: 2px;
    border-bottom: 3px #EEEEEE solid;
    width: 100%;
    z-index:10;
}
.navbar-header{
	height:93px;
}
.navContentDiv{
	padding-left:27px;
}
.navText{
	font-family: "CiscoSansTT Regular";
	font-size: 12px;
	line-height: 12px;
	color: #6A6B6C;
}
.navHeading{
	font-family: "CiscoSansTT Regular";
	font-size: 26px;
	line-height: 12px;
	color: #6A6B6C;
}
.navText a{
	text-decoration: none ;
}
.styleArrow a{
	text-decoration:none;
	color:#D0D0D0 !important;
}
.img-circle {
    border-radius: 50% !important;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #ffffff;
    border:1px;
    border-style:solid;
    min-width: 160px;
    overflow: auto;

    z-index: 3;
}
.dropdown-content a {
    color: #000 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:CiscoSansTT Light;
}
.modal-body{
	background-color:#fff;
	padding:35px;

}
.modal-body-inner{
	padding:15px;
	background-color:#fff;
	height:300px;
	width:100%;
	overflow:auto;
	border:1px solid;
}
.search {
	padding:15px;
  position: relative;
  color: #aaa;
  font-size: 16px;
}
.search input {
	outline:none;
	width: 100%;
	height: 32px;
	background: #fcfcfc;
	border: 1px solid #aaa;
}
.search input{
	text-indent:32px;
}
.search .fa-search{
	position: absolute;
	top: 22px;
	left: 24px;
}
/*KSO PAGE CSS*/
.greyTxtHolder{
	font-family: "CiscoSansTT Regular";
    font-size: 12px;
    line-height: 16px;
    color: #AEAEAF;
}
.percentHolder{
	float: right;
}
.payMixHolder{
	width:71%;
}
.darkGreyTxtHolder{
	font-size: 12px;
	font-family:"CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 19px;
	color: #6A6B6C;
}
.totalHolder{
	font-size: 18px;
	line-height: 19px;
	color: #343537;
}
.intervalLoADays{
	font-size: 18px;
    color: #343537;
    font-family: CiscoSansTT Light !important;
}
.line{
	border-top:2px solid lightgray;
	width: 85%;
    margin: 14px 0;
}
.salaryHeader{
	font-size: 24px;
    font-family: CiscoSansTT Regular !important;
    line-height: 19px;
    color: #4F5051;
    font-weight: 200;
}
.calculationContainer{
	width:100%;
	margin-top: -20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.leftContainer {
	border-right: 2px dotted lightgray;
    width: 30%;
    -webkit-box-flex:0;
    -ms-flex:none;
     flex:none;
     margin: 20px 0
}
.rightContainer{
	-webkit-box-flex: 1;
    -ms-flex: 1 100%;
     flex: 1 100%;
}
.rightContainerContentHolder{
	margin: 20px 0 0 18px;
	width:96%;
}
.leftContentHolder{
	margin:8px 0 0 25px;
}
.dotLine{
	border-bottom: 2px dotted lightgray;
    width: 85%;
    margin-top: 20px;
}
.leftHolder{
	width:20% !important;
}
.rightHolder{
	width:60% !important;
}
.formulaLabel{
	width:20% !important;
	display: inline-flex;
	padding-left: 85px;
	padding-top: 12px;
	color: #9B9B9B !important;
}
.formulaValue{
	font-size: 12px !important;
	color: #6A6B6C !important;
	font-family: CiscoSansTT Light !important;
}
.stripedBgColor{
	background-color: #f5f5f6;
}
.bolder{
	font-size: 20px;
    font-weight: bold;
}
.formulaCalc{
	font-size: 17px !important;
	color: #4A4A4A;
    font-family: CiscoSansTT Light !important;
}
.heightHolder{
	padding: 10px 8px;
}
.weightBaseSalaryTable{
	border: 1px solid deepskyblue;
    height: auto;
}
.tableBorderHolder{
	margin-top: -21px;
    border: 1px solid deepskyblue;
    border-collapse: separate;
}
.selectBoxHolder {
	 width: 85px;
	 height: 30px;
	 padding:5px;
}
.quotaBox{
	border: 1px solid lightgray;
	width:70%;
	margin-top: 5px;
    margin-left: 15px;
}
.arrowHolder{
	color:#4A4A4A;
	cursor:pointer;
}
.tdHolder{
	vertical-align: top !important;
	text-align: right;
}
.trbgColor{
	background-color: #bbe1f4;
}
.starHolder{
	float:right;
}
.boldTxtHolder{
	font-weight: bold;
}
.noDataAvail{
	text-align: center;
    font-size: large;
    font-weight: bold;
}
.alignHolder{
	padding-left: 15px;
}
.alignHolderObj{
	padding-left: 15px;
	text-align: right;
}
.objHeaders{
	vertical-align: top !important;
}
.bonusTotalH{
	text-align: center;
	padding-left: 103px;
}
.backIconHolder{
	font-weight: 600 !important;
	font-size: 1.5em !important;
	vertical-align: middle;
	margin-bottom: 12px;
}
.smallFnt{
	font-size: 12px !important;
}
.varCalcHolder{
	font-size:12px !important;
	color:#9B9B9B !important;
}
.goalName{
	color: #6a6b6c;
	 width: 120px;
-ms-flex-direction: column;
    flex-direction: column;
text-align: left;
padding-right: 10px;
font-size: 12px !important;
    word-break: break-all;
    word-break: break-word;
}
.rateTableBorder>tbody>tr>td{
	border-top: none !important;
}
/*HYBRID KSO CSS*/
.hybrodKsoTable>tbody>tr>td{
	border-top: none !important;
}
.borderLines{
	border-top: 1px solid #ccc;
}
.thickBorderLines{
	border-top: 2px solid #ccc;
	width: 101.4%;
    margin-left: -8px;
}
.lineHeightHolder{
	line-height: 1.8;
}
.bonusLhHolder{
	line-height: 1.4;
}
.modifiersHolder{
	margin-bottom: 5px;
}
.bonusStarHolder{
	width:39%;
	float:right;
}
/*KSO PAGE CSS*/
.divBorder {
    border: 1px solid deepskyblue;
}
.idColor{
	color: deepskyblue;
}
.formulaTxtHolder{
	font-family: "CiscoSansTT Regular";
    font-size: 11px;
    line-height: 19px;
    color: #9B9B9B;
    -webkit-box-flex:1;
        -ms-flex:1 15%;
            flex:1 15%;
    padding-right: 10px;
    display: block;
}
/* Nav BAR Designs */

.navbar-default {
	background-color: #fff;
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
	height:93px;
}
.navbar-default .btn-default {
	color: #26d9d9;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    left:0;
    margin-left:15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-default .dropdown-menu {
    background-color: #ffffff;
    border:1px;
    border-style:solid;
    min-width: 160px;
	overflow: auto;
	box-shadow: none;
    z-index: 3;
}
.userDropdown{
	margin-top: 13px;
	background-color: #ffffff;
    border:1px;
    border-style:solid;
    min-width: 160px;
    overflow: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    z-index: 3;
}
.dropDownContStyle{
	text-decoration:none;
	color:#000 !important;
	font-family:CiscoSansTT Light;
}
.navbar-default .dropdown-menu li > a:hover {
	background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
	font-family: "CiscoSansTT Regular";
	font-size: 13px;
	line-height: 12px;
  	color: #1AA1DA;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color:#1AA1DA;
	background-color:#fff;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#1AA1DA;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color:#000;
}
.ho:hover{
	background-color:#000;
}
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.pt{
	padding-top:30px;
}
@media (min-width: 200px) {
	.navbar {
    	border-radius: 0;
  	}
}
@media (max-width: 767px){
	.navbar-nav .open .dropdown-menu {
		background-color: #ffffff;
	    border:1px;
	    border-style:solid;
	    min-width: 50px;
	    max-width:160px;
	    overflow: auto;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    box-shadow: none;
	    z-index: 3;
	}
}
.navbar-header{
	height:93px;
}

.pointer {
    cursor: pointer;
}
.navHeading{
	font-family: "CiscoSansTT Regular";
	font-size: 26px;
	line-height: 12px;
	color: #6A6B6C;
}
/* For Modal Window */
.modal-dialog{
	width:410px;
}
.modal-content{
	width:410px;
}
.app-modal-window{
  width: 500px;
}

/* ****************   ORDER SEARCH  START   ******************** */

.orderSearch__header{
	margin-top:10px;
	display: inline-block;
	position: relative;
	bottom: 4px;
	left : 3px;
	height: 24px;
	font-family: "CiscoSansTT Light";
	font-size: 16px;
	line-height: 24px;
	color: #6A6B6C;
    font-weight: bold;
}

.orderDetails__header{
	font-family: "CiscoSansTT Light";
	font-size: 14px;
	color: #6A6B6C;
    font-weight: bold;
}

.orderSearch__text {
    font-size:12px;
    font-family: "CiscoSansTT Regular";
    color:#6A6B6C; !IMPORTANT;
}

.orderSearch__text--wrap {
	word-wrap: break-word;
}

.orderSearch__zeropad {
    padding: 0px;
}



/*osb = Order Search Block*/
.osb {
    margin-left: 30px;
    padding-bottom: 20px;
}

.osb__drpdwn {
    /*margin-right: -65px;*/
    margin-top: 15px;
    width: 168px;
}

.osb__btn {
    color:#6A6B6C;
    font-size:12px;
    width: 150px;
    border-radius: 0px;
    height: 32px;
}

.osb__btn__dwnarrow {
    margin-left:5px;
    float: right;
    font-size: 20px;
    margin-top: -3px;
}

/*ip=input*/
.osb__ip {
    margin-top: 5px;
    margin-left: 20px !Important;
}

/*sricon = search icon*/
.osb__ip__sricon {
    margin-right: -6px;
    margin-left: 4px;
    height: 32px;
    border-bottom: solid 1px #ccc;
}

.osb__ip__sricon-align {
    margin-left: 80px;
    margin-top: 8px;
    position: absolute;
    z-index: 1;
    color:#6A6B6C;
}

.sreachIcon {
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    z-index: 1;
    color:#6A6B6C;
}

.osb__ip__sriconDt-align {
    margin-left: -20px;
    margin-top: 7px;
    position: absolute;
    z-index: 1;
    color:#6A6B6C;
}

.osb__ip__div {
    margin-left: -39px;
}
.osb__ip-align {
    font-size:12px;
    width: 230px;
    height: 32px;
    padding-left: 10px;
    padding-right: 25px;
    border:solid 1px #ccc;
    color:#6A6B6C;
}

.osb__ip__clearicon {
    margin-left: 60px;
    margin-top: 8px;
    color:#6A6B6C;
}

.osb__ip__clearicon-align {
    margin-left: -19px;
    height:32px;
    width: 20px;
}

.osb__extrainfo {
    padding-top: 20px;
    padding-left: 0px;
}

.osb__extrainfo-style {
    font-size:12px;
    color:#bdbdbd;
}

.leftmargin25 {
	margin-left: 25px;
}
.margin25 {
	margin:25px;
}

/*osr = order search result table */
.osr__toprow {

}

.osr__toprow__count {
    width:160px;
}

.osr__toprow__pageconfig {
    padding-left:0px;
}

.osr__toprow__pageconfig__btn {
    border-radius: 0px;
    padding-bottom: 0px;
    padding-top: 4px;
    border: 0px;
}

.osr__toprow__pageconfig__btnMenu {
    min-width: 85px;
}

.osr__toprow__cur {
   padding-top: 0px;
}

.osr__toprow__cur-align {
   padding-left: 20px;
}

.osr__toprow__cur-__div-align {
    padding-left: 0px;
}

.osr__toprow__export {
    text-align:right;
    padding-right: 10px;
    margin-top: 10px;
}

.osr__toprow__fromCal {
	width: 250px;
}

.osr__toprow__calInput {
	width: 120px !Important;
}
.osr__toprow__toCal {
	width: 210px;
}

.osrt__div {
    padding-left: 0px;
    padding-right: 0px;
}

.osrt__colHeader {
    background-color:#f5f5f5;
    border:solid 1px #ddd;
}

.osrt__row__tr {
    height:50px;
}

.osrt__row-valign {
    vertical-align: top !Important;
}

.osrt__row__lastCol {
    padding:0px;
    height:50px;
}

/* grid are tow cols where last col contents are aligned*/
.osrt__row__lastCol__grid {
    border-left: solid 1px lightgray;
    min-height: 90px;
}

.osrt__row__lastCol__div {
    padding: 0px 0px 5px 0px;
}

/*bottom row which contains pagination controls*/
.osrt__pgnRow {
    padding: 0px;
    padding-bottom:10px;
    border-top: solid 1px lightgray;
}

.osrt__pgnRow__resCount {
    padding-top: 10px;
    width:145px;
    padding-right:0px;
}

.osrt__pgnRow_pagination {
    margin-top:-10px;
    margin-bottom:-20px;
}

.osrt__pgnRow_export {
    padding-top: 10px;
    text-align:right;
    padding-right:20px;
}

.osrt__pgnRow_export_payment {
	padding-top: 10px;
    text-align:right;
    padding-right:10px;
}

.orderSearchTable {
	border-bottom: 1px solid lightgray;
}

.osrt--headerBold {
    font-size: 12px;
    font-weight: bold;
    font-family: "CiscoSansTT Regular";
    color: #6A6B6C;
}

.pagination>li>a:hover{
    background-color: white;
}

/* ****************   ORDER SEARCH  END   ******************** */

/* ***************** ORDER SEARCH Line details START *******************/

/*li = line items*/

.li__cur {
    width: 60px;
}

.li_row {

}

/*.li_row:hover {
    border-left:solid 5px #049fd9;
}*/

.li__header {
    background-color: #bbe1f4;
    height: 40px;
}
.li__eligibleLines {
    display: inline;
    padding:6px;
    background-color:#ffffff;
    border-radius: 15px 0px 0px 15px;
}
.li__ineligibleLines {
    display: inline;
    padding:6px;
    background-color: #049fd9;
    border-radius: 0px 15px 15px 0px;
    color: #ffffff;
}

.li__pageDetails {
    width:170px;
}

.li__bkgClr {
    background-color:#bbe1f4;
    border:0px;
}

.li__tbody {
    border-top:0px;
}

.li__details {
    padding:0px;
    background-color:#f5f5f5;
    height:160px;
}

.li__details__colSep {
    border-right: solid 2px lightgray;
    min-height: 120px;
    padding:0px;
}

.commStatusStyle {
	max-width: 51% !important;
}

/* ***************** ORDER SEARCH Line details  END *******************/

/* ***************** Banner start *******************/
.txtFields{
	color: #4F5051;
	line-height: 3;
}
.msgBox{
	float: right;
	background-color:#049FD9;
	color: #fff;
	TEXT-ALIGN: CENTER;
	width: 150px;
}


/* ***************** Banner  END *******************/
.modal-backdrop {
   background-color: #fff;
}
.modal-backdrop.in {
	opacity: 0 !important;
}
.GA .modal-content{
width: 750px;
right: 200px;
top: 100px;
}

#loading-bar .bar {
  position: relative;
  height: 4px !Important;
  background:#337AB7 !Important;
}
.goalSheetName{
	font-size:16px;
	width: 100%;
	padding: 15px 30px;
}

.introjs-tooltip {
	min-width: 300px !Important;
}
.introjs-tooltiptext {
	margin-top: 35px;
	color: #6A6B6C !IMPORTANT;
}

.introjs-tooltipbuttons {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.introjs-progress {
	height: 4px !Important;
	margin-top: 40px !Important;
}

.introjs-progressbar {
	background-color:#337AB7 !Important;
}
.introjs-skipbutton {
	background-image: linear-gradient(white, white) !IMPORTANT;
    border: 0px !IMPORTANT;
    font-size: 14px !IMPORTANT;
    margin-right: 35px !IMPORTANT;
    top: 0px !IMPORTANT;
    position: absolute !IMPORTANT;
    right: -20px !IMPORTANT;
}

.introjs-prevbutton {
	background-color: white !IMPORTANT;
    border-radius: 0px !IMPORTANT;
    font-size: 14px !IMPORTANT;
    color:#6A6B6C !IMPORTANT;
    width: 50% !Important;
	box-sizing: border-box !Important;
	height: 40px !Important;
    text-align: center;
    border-left: 0px;
    border-bottom: 0px;
    background-image: linear-gradient(#fff, #fff) !IMPORTANT;
    padding-top: 10px !IMPORTANT;
}

.introjs-nextbutton {
	font-size: 14px !IMPORTANT;
    background-image: linear-gradient(#049FD9, #049FD9) !IMPORTANT;
    color: white !IMPORTANT;
    text-shadow: 0px 0px 0 #fff !IMPORTANT;
    border-radius: 0px !IMPORTANT;
    width: 50% !Important;
    box-sizing: border-box !Important;
    height: 40px !Important;
    text-align: center;
    padding-top: 10px !important;
}

.introjs-bullets {
	margin:10px !IMPORTANT;
}

.introjs-button:hover {
	 box-shadow: 0 0px 0px #fff !IMPORTANT
}

.iraams .dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

#navBarComp.introjs-fixParent {
  position: absolute !Important;
}

.introjs-donebutton {
	font-size: 14px !IMPORTANT;
    position: relative !IMPORTANT;
    float: right !IMPORTANT;
    background-image: linear-gradient(#049FD9, #049FD9) !IMPORTANT;
    color: white !IMPORTANT;
    text-shadow: 0px 0px 0 #fff !IMPORTANT;
    border-radius: 0px !IMPORTANT;
    width: 50% !Important;
    box-sizing: border-box !Important;
    height: 40px;
    text-align: center;
    margin-right: 20px !important;
    padding-top: 10px !IMPORTANT;
    margin-bottom: -10px !Important;
}
/*.modal { z-index: 100000000000000000000 !important; }
.introjs-fixedTooltip { z-index: 200000000000000000000 !important; }*/